body {
font-family: Arial;
text-align: center;
background: #0a0a0a;
color: white;
}

.logo img {
width: 120px;
margin: 20px;
}

video {
width: 200px;
border-radius: 10px;
}

button {
padding: 10px;
background: #007bff;
color: white;
border: none;
border-radius: 5px;
}
